@media only screen and (min-width: 0rem) {
    #quote {
        padding: clamp(3.5rem, 1.5vw, 6.25rem) 1rem;
	background: none;
    }
    #quote .cs-container {	
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(3rem, 6vw, 4rem);
    }
    #quote .cs-content {
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: clamp(1rem, 2vw, 1.25rem);
    }
    #quote .cs-topper:before {
        content: "";
        width: 3.125rem;
        height: 2px;
        background: var(--secondary);
        opacity: 1;
        display: block;
    }
    #quote .cs-quote {
        font-size: clamp(1.9375rem, 5.1vw, 3.0625rem);
        line-height: 1.2em;
        font-weight: 900;
        margin: 0;
    }
    #quote .cs-name {
        font-size: clamp(1rem, 1.7vw, 1.25rem);
        line-height: 1.2em;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
        color: var(--secondary);
        display: block;
        letter-spacing: 0.01em;
	color: darkgreen;
    }
}
