@media only screen and (min-width: 0rem) {
    #product {	
        padding: clamp(3.75rem, 1rem, 6.25rem) 1rem;
	background: #e4f0ef;
    }
    #product .cs-container {
        width: 100%;
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(1rem, 2vw, 1rem);
    }
    #product .cs-content {
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #product .cs-title {
        max-width: 12ch;
    }
    #product .cs-text {
        max-width: 32.625rem;
        margin: 0 0 clamp(1.75rem, 3vw, 2rem);
    }
    #product .cs-link {
        white-space: nowrap;
        font-size: 1rem;
        color: var(--bodyTextColor);
        font-weight: 700;
        text-decoration: none;
        width: 15.125rem;
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        transition: color 0.3s;
    }
    #product .cs-link:hover {
        color: var(--primary);
    }
    #product .cs-link:hover svg {
        transform: translateX(0.625rem);
    }
    #product .cs-link:before {
        content: "";
        width: 100%;
        height: 2px;
        background: currentColor;
        opacity: 1;
        position: absolute;
        display: block;
        bottom: -0.125rem;
        left: 0;
    }
    #product .cs-link svg {
        margin-left: 0.25rem;
        transition: transform 0.3s;
    }
    #product .cs-link svg path {
        fill: currentColor;
    }
    #product .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1.75rem;
    }
    #product .cs-item {
        list-style: none;
        width: 100%;
        margin-left: 0;
    }
    #product .cs-icon {
        width: auto;
        height: 1.875rem;
        margin-bottom: clamp(1.25rem, 2.4vw, 1.5rem);
    }
    #product .cs-h3 {
        font-size: 1.25rem;
        line-height: 1.5em;
        margin: 0;
        margin-bottom: clamp(1rem, 2vw, 1.25rem);
        color: var(--headerColor);
    }
    #product .cs-item-text {
        font-size: 1rem;
        line-height: 1.5em;
        margin: 0;
        color: var(--bodyTextColor);
    }
}

@media only screen and (min-width: 31.25rem) {
    #product .cs-card-group {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #product .cs-item {
        width: 46%;
    }
}

@media only screen and (min-width: 48rem) {
    #product .cs-container {
        max-width: 80rem;
    }
    #product .cs-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    #product .cs-title {
        width: 40%;
    }
    #product .cs-flex {
        width: 50%;
    }
    #product .cs-item {
        width: 22%;
    }
}
